

{% extends "app1/base.html" %}

{% block blockcontent %}
  
<main>
    {% for i in list_kino %}
        <div class="kino_div">
        <img src="{{i.image}}" alt="">
        <p>Назва: {{i.name}}</p>
        <p>Жанр: {{i.genre}}</p>
        <p>Рік: {{i.graduationYear}}</p>
        <a href="{{i.linkToView}}">Переглянути</a>
        </div>
    {% endfor %}
</main>

<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <h2>Додати новий фільм</h2>
    <input type="text" name="name" placeholder="Назва фільму">
    <input type="number" name="graduationYear" placeholder="Рік випуску">
    <input type="text" name="genre" placeholder="Жанр фільму">
    <select name="type" > 
        <option selected="select" disabled>Обери тип фільму</option>
        <option value="Фільм">Фільм</option>
        <option value="Мультсеріал">Мультсеріал</option>
        <option value="Серіал">Серіал</option>
        <option value="Мультфільм">Мультфільм</option>
    </select>
    <input type="text" name="linkToView" placeholder="Посилання на перегляд">
    <input type="file"  name="image" class="custom-file-input">
    <button>Створити</button>
</form>

{% endblock blockcontent %}